.navItem {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.link {
  all: unset;
  padding-block: 20px;
  text-decoration: unset;
  font-family: sans-serif;
  font-weight: 300;
  color: var(--navitem-text);
}

.link:hover {
  color: var(--navitem-hover);
}

/* Hover Content */
.hoverContent {
  position: absolute;
  bottom: -20px;
  left: 0;
}
