.navItem {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.hoverContent {
  position: absolute;
  bottom: -20px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  scale: 0.8;
  transition: all 0.2s ease-out;
}

.isHovered {
  visibility: visible;
  opacity: 1;
  scale: 1;
}
